.status, .message {
	padding:3px;
	font-weight:bolder;
	border:solid 1px white;
}
.status.failure, .message.failure {
	background-color:red;color:white;
}
.status.success {
	background-color:green;color:white;
}